<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Grade calculator</title>
	<script src="index.js" type="module"></script>
</head>
<body>

<div id="grade_calc">
	<div>
		Participation (studio):
		<input type="number" min="0" max="100" v-model="participation.studio" /> / 100
	</div>
	<div>
		Homework feedback:
		<input type="number" min="0" max="100" v-model="participation.feedback" /> / 100
	</div>
	<div>
		General Participation:
		<input type="number" min="0" max="100" v-model="participation.other" /> / 100
	</div>
	

	<div v-for="(hw, i) in homeworks">
		<!-- {{ homeworks.length }} homeworks: -->
		Homework {{i+1}} <input type="number" min="0" max="100" v-model="homeworks[i]"/> / 100
	</div>
	<button @click="addHomework()" :disabled="homeworks.length>=12">Add homework</button>
	<div>Projected class grade: {{ calculatedGrade }}</div>
</div>

</body>
</html>